
/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-image: url('afbeeldingen/Backdirt.png');
    color: #FFFFFF;
    font-family: 'Minecraft', sans-serif;
   import: url('http://fonts.cdnfonts.com/css/minecraft-4');
}


main {
    margin: 0 auto;
    width: 1000px;
    position: relative;
}


article {
    text-align: 70%;
}


header {
    color: #FFFFFF;
    text-align: center;
    
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

.logo {
  width: 100%;

  
}
img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.ow {
  border-bottom: 1px black dashed;
}

.belangrijk {
  font-size: 10em;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(0, 240, 0);
    overflow: hidden;
    box-align: center;
}

nav ul li {
float: left;
  text-align: center;
}

nav li a {
    height: 20px; 
    display: block;
    color: rgb(0,0,0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.3s;
}

nav li a:hover {
    background-color: rgb(0, 210, 0);
    font-size: 1.4em;
    text-decoration: underline;
}

nav li a.active {
    background-color: rgb(0, 190, 0);
    font-size: 1.4em;
    text-decoration: underline;
   
}
/*plaatjes*/
.plaatje {
  height: 350px;
  box-sizing: border-box;
  overflow: auto;
  margin: 10px;
  border-color: rgba(255, 255, 255, 10%);
  
}

.plaattekst {
  float: left;
  box-sizing: border-box;
  font-size: 1.5em;

}

.plaattekst-groot {
  float: left;
  box-sizing: border-box;
  font-size: 5em;
  margin-right: 100px;
}

.plaattekst-lijst {
  float: right;
  box-sizing: border-box;
  font-size: 2em;
}




