
/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-image: url('afbeeldingen/Backdirt.png');
    color: #FFFFFF;
    text-shadow: 2px 2px black;
    cursor: -webkit-grab;
}


main {
    margin: 0 auto;
    width: 1000px;
    position: relative;
}


article {
    text-align: 70%;
}


header {
    color: rgb(90, 90, 90);
    text-align: center;
    text-shadow: 8px 8px black;
    
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

.logo {
  width: 100%;
}

.belangrijk {
  font-size: 10em;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(0, 240, 0);
    overflow: hidden;
    box-align: center;
}

nav ul li {
float: left;
  text-align: center;
}

nav li a {
    height: 20px; 
    display: block;
    color: rgb(0,0,0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3em;
    text-shadow: 0px 0px black;
    transition: 0.3s;
}

nav li a:hover {
    background-color: rgb(180, 139, 92);
    font-size: 1.4em;
    text-decoration: underline;
    text-shadow: 1px 1px rgb(0, 240, 0);
}

nav li a.active {
    background-color: rgb(0, 190, 0);
    font-size: 1.4em;
    text-decoration: underline;
    text-shadow: 1px 1px rgb(180, 139, 92);
   
}
/*plaatjes*/
.plaatje {
  height: 350px;
  box-sizing: border-box;
  overflow: auto;
  margin: 10px;
  border: 10px solid rgba(255, 255, 255, 0.5);
}

.plaatje-groot {
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  margin-top: 10px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.3);
}

.plaatje-klein {
  height: 90px;
  box-sizing: border-box;
  overflow: auto;
  margin: 10px;
}

.plaatje-baby {
  height: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.plaattekst {
  float: left;
  box-sizing: border-box;
  font-size: 1.5em;

}

.plaattekst-groot {
  float: left;
  box-sizing: border-box;
  font-size: 5em;
  margin-right: 100px;
}

.plaattekst-kop {
  float: left;
  box-sizing: border-box;
  font-size: 1.75em;
  }

.plaattekst-lijst {
  float: right;
  box-sizing: border-box;
  font-size: 2em;
}




